

  
  .resume-title {
    color: black ;
  }
  
  .resume-item {
    margin-bottom: 20px;
  }
  
  .resume-item h4 {
    color: #0d6efd; 
  }
  
  .resume-item em {
    font-style: italic;
  }
  
  .resume-item ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resume-item li {
    margin-bottom: 5px;
  }
  p,ul,h5{
    color: black;
  }
  
  
 
  