.contact {
    padding-bottom: 130px;
}
section {
    padding: 60px 0;
    overflow: hidden;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #173b6c;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 20px;
}
.align-items-stretch {
    align-items: stretch;
}
.d-flex {
    display: flex;
}
div {
    display: block;
}
 label {
    padding-bottom: 8px;
    display: inline-block;
    cursor: default;
    font-size: 20px;
    color: black;
}
h4{
    color: rgb(98, 108, 199);
}